@mixin make-grid-colums(
  $colums: $grid-colums,
  $gutter: $grid-gutter-width,
  $breakpoints: $grid-breakpoints
) {
  //базовый класс
  .col {
    padding-left: $gutter / 2;
    padding-right: $gutter / 2;
    position: relative;
    width: 100%;
  }

  // генерация 12 классов с шириной
  @for $i from 1 through $colums {
    .col-#{$i} {
      max-width: percentage($i / $colums);
    }
  }

  // создать колонки под каждый медиа-запрос
  // @media (max-width: 1999px) {
  //     .col-xl-1 {
  //         min-width: 8.33%;
  //     }
  // }

  @each $name, $value in $breakpoints {
    @include media-breakpoint($value) {
      @for $i from 1 through $colums {
        .col-#{$name}-#{$i} {
          max-width: percentage($i / $colums);
        }
      }
    }
  }
}
