@mixin make-titles(
  $sizes: $title-sizes,
  $color: $title-color,
  $font: $title-ff
) {
  .title {
    color: $color;
    font-family: $font;
    font-weight: normal;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    margin: 40px 0;

    @each $name, $value in $sizes {
      &--#{$name} {
        font-size: $value;
      }
    }
  }
}
